<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dental Booking Application</title>
</head>
<body>

{{if .UserName}}
{{else}}
<h1>Delete Sessions:</h1>
{{end}}
<h2>Go to <a href="/adminLoginSuccess">Admin Logged In Menu</a></h2>
</body>
</html>