<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dental Booking Application</title>
    </head>
<body>
<h2>Home Page</h2>
<h2>Go to <a href="/usersignup">User Sign Up</a></h2>
<h2>Go to <a href="/userlogin">User Login</a></h2>

<h2></h2>

{{if .First}}
    
{{else}}
    
{{end}}

</body>
</html>