<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodpanda Chat Application</title>
    </head>
<body>
<h2>Patient Login Successful</h2>
    <h2>Go to <a href="/makeAppointment">Make Appointment</a></h2>
    <h2>Go to <a href="/listAvailableTimesOfSelectedDoctor">List available times of selected doctor</a></h2>
    <h2>Go to <a href="/searchForAvailableDoctors">Search for available doctors</a></h2>
    <h2>Go to <a href="/editAppointment">Edit appointment</a></h2>
    <h2>Go to <a href="/cancelAppointment">Cancel appointment</a></h2>
    <h2>Go to <a href="/findDoctorRoomNumber">Find doctor's room number</a></h2>
    <h2>Go to <a href="/patientChangePassword">Change password</a></h2>
    <h2>Go to <a href="/logout">Log Out</a></h2>
{{if .First}}
    
{{else}}
 
{{end}}
</body>
</html>