<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dental Booking Application</title>
</head>
<body>
<h1>Delete Users:</h1>
<h1>Please enter the first name of patient</h1>
<form method="post">
    <input type= "text" name="username" placeholder="username (Email)">
    <input type= "submit">
</form>
{{if .UserName}}
{{else}}
{{end}}
<h2>Go to <a href="/adminLoginSuccess">Admin Logged In Menu</a></h2>
</body>
</html>